:root {
    /* Brand */
    --brand-name: "Nijper";
    --brand-name-dot: "Nijper.";

    /* Color Palette */
    --bg-dark: #0a0a0f;
    --text-main: #f0f0f5;
    --text-muted: #a0a0b5;

    /* Vibrant Accents */
    --accent-primary: #7000ff;
    /* Deep purple */
    --accent-secondary: #00f0ff;
    /* Cyan */
    --accent-gradient: linear-gradient(135deg, var(--accent-primary), var(--accent-secondary));

    /* Glassmorphism */
    --glass-bg: rgba(255, 255, 255, 0.03);
    --glass-border: rgba(255, 255, 255, 0.08);

    /* Typography */
    --font-main: 'Outfit', sans-serif;

    /* Transitions */
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, textarea {
    cursor: text;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-main);
    font-family: var(--font-main);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Utilities */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-scroll {
    overflow: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

.highlight {
    background: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.glass-panel {
    background: var(--glass-bg);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--glass-border);
    border-radius: 24px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

/* Typography */
h1,
h2,
h3 {
    font-weight: 800;
    line-height: 1.2;
    cursor: default;
}

h1 {
    font-size: clamp(3rem, 8vw, 5rem);
    margin-bottom: 1rem;
}

h2 {
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    color: var(--text-muted);
    cursor: default;
}

